## Climate time series analysis
* Charge and preprocess data
* Time series clustering 
* Causal analysis

In [1]:
import pandas as pd
import os
import datetime

In [2]:
col_names = pd.read_csv('./dades/col_names.txt', header=None)
df = pd.DataFrame()
df.loc[:,'timestamp'] = pd.read_csv('./dades/data_per_pix/-0.5,-48.5.csv', header=None).loc[:,0].apply(datetime.datetime.fromtimestamp)

In [4]:
for i in range(-65, -43, 1):
    df[str('-3.5,'+ str(i+0.5))] = pd.read_csv('./dades/data_per_pix/' + str('-3.5,'+ str(i+0.5) +'.csv'), header=None).loc[:, (col_names == 'maxTXx_cum_T_ERA_2')[0]]

,timestamp,"-3.5,-64.5","-3.5,-63.5","-3.5,-62.5","-3.5,-61.5","-3.5,-60.5","-3.5,-59.5","-3.5,-58.5","-3.5,-57.5","-3.5,-56.5",...,"-3.5,-52.5","-3.5,-51.5","-3.5,-50.5","-3.5,-49.5","-3.5,-48.5","-3.5,-47.5","-3.5,-46.5","-3.5,-45.5","-3.5,-44.5","-3.5,-43.5"
0,1980-01-01 00:13:20,300.05,300.27,300.37,300.96,301.41,302.33,302.57,301.98,301.19,...,299.41,299.95,300.62,300.94,300.43,299.83,299.54,300.20,301.51,303.36
1,1980-05-01 02:46:40,300.33,300.49,300.64,300.45,300.79,301.80,301.79,301.16,300.68,...,300.37,300.31,300.21,300.62,300.38,300.00,299.72,300.08,300.97,301.87
2,1980-02-01 00:40:00,301.03,301.08,301.15,301.30,301.55,302.04,301.53,300.48,299.90,...,299.21,299.56,300.11,300.68,300.37,299.81,299.54,300.20,301.46,302.25
3,1980-03-01 01:53:20,301.03,301.08,301.15,301.30,301.55,302.04,301.53,300.48,299.82,...,299.08,299.41,299.80,299.76,299.72,299.39,299.09,299.55,300.59,301.52
4,1980-04-01 03:20:00,299.93,300.49,300.64,300.45,300.49,300.98,300.32,299.95,300.15,...,299.73,299.86,300.08,300.25,299.87,299.52,299.52,300.08,300.97,301.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,2011-04-30 23:46:40,299.97,300.28,300.61,300.64,300.72,300.77,300.65,300.10,299.67,...,300.39,300.99,301.59,301.79,301.27,300.69,300.26,300.43,301.30,301.67
380,2011-06-01 05:46:40,300.54,301.02,301.42,301.54,301.53,301.89,301.55,300.99,300.96,...,300.63,301.08,301.74,302.20,301.79,301.21,300.60,300.58,301.35,301.71
381,2011-07-01 08:00:00,300.54,301.02,301.42,301.54,301.53,302.16,302.01,301.17,301.06,...,300.63,301.08,301.74,302.20,301.79,301.21,300.60,300.58,301.35,301.72
382,2011-08-01 14:00:00,301.33,301.92,302.16,302.25,302.34,303.02,302.97,302.11,301.82,...,302.11,301.86,301.89,302.38,302.36,301.65,300.44,300.01,301.31,302.42
383,2011-08-31 16:13:20,301.33,301.92,302.16,302.28,302.39,303.22,303.23,302.36,301.82,...,302.54,302.02,302.67,303.54,303.40,302.32,300.84,300.78,302.24,303.76